*.sdf
*.suo
*.user
*.log
*.tlog
*.pdb
*.obj
*.exe
*.lastbuildstate
*.opensdf
*.bin
release/*
debug/*
*.htm
*.xml
*.filters
=======
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
